body {
    background-color: white;
    margin: 5%;
    width: 100%
}

.mt-3 {
    
    margin-top: 3%;
    position: relative
}

h1 {
  font-size: 30pt;
  color: #fff;
  font-weight: bold;
}
.mt-2 {
  margin: 10%;
}
