body {
    background-color: white;
    margin: 5%;
    width: 100%
}

.mt-3 {
    
    margin-top: 1%;
    position: relative
}

h1 {
  font-size: 30pt;
  color: #fff;
  font-weight: bold;
}
.mt-2 {
  /* position: absolute; */
  top: -65px;
  margin: 4%;
}
#test1{
  width: 90%;
  display: flex;
  background-color: yellowgreen;
  justify-content: space-between;
  align-items: center;
}

.icons{
  width: 40px;
  height: 40px;
}

/* .prevCard {
  left: 0;
}

.activeCard {
  left: 50%;
  transform: translateX(-50%); 
}

.nextCard {
  right: 0;
} */