body {
  background-color: white;
  margin: 5%;
  width: 100%;
}

.mt-3 {
  margin-top: 3%;
  position: relative;
}

h1 {
  font-size: 30pt;
  color: #fff;
  font-weight: bold;
}
.mt-2 {
  margin: 2%;
  position: static;
  width: 265px;
  left: 280px;
  top: 0px;
  bottom: 0px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 15px;
}
#test1{
  width: 90%;
  display: flex;
  background-color: yellowgreen;
  justify-content: space-between;
  align-items: center;
}

.icons{
  width: 40px;
  height: 40px;
}
.animateRight{
  animation: fadeinright 1s ease-in-out ;

}
.animateLeft{
  animation: fadeinleft 1s ease-in-out ;

}
@keyframes fadeinright {
  from { transform: translate(100%, 0); }
  to   { transform: translate(0, 0); }
}

@keyframes fadeinleft {
  from { transform: translate(-100%, 0); }
  to   { transform: translate(0, 0); }
} 



