 .imgContainer{
  display:flex;
  border: 1px solid black;
  
  justify-content: space-evenly;
  background-color: aqua;
  margin: 5px;
  padding: 15px;
  height: auto;
} 

#lasextacolor {
    display: none;
    width: 90px;
    height: 115px;
  }


#lasextabyn {
    display: block;
    width: 70px;
    height: 95px;
  }
.lasextaContainer {
  display:none;
  width: 80%;
  margin: auto;
  text-align: center;
}


#elmundocolor {
    display: none
  }


#elmundobyn {
    display: block;
    width: 105px;
    height: 95px;
  }



  #telemadridcolor {
    display: none
  }


#telemadridbyn {
    display: block;
    width: 135px;
    height: 95px;
  }



#larazoncolor {
    display: none
  }


#larazonbyn {
    display: block;
    width: 105px;
    height: 95px;
  }

  #lanavecolor {
    display: none
  }


#lanavebyn {
    display: block;
    width: 155px;
    height: 95px;
  }