/* .prevCard {
    left: 0;
  }
  
  .activeCard {
    left: 50%;
    transform: translateX(-50%); 
  }
  
.nextCard {
    right: 0;
  } */

#hola {
  
  display: flex; 
  position: relative;
  margin: 5px;
  /* display: flex; */
  width:fit-content; 
  
  /* left: 25px;  */
  /* align-items: center; */
  height: 80vh;
  /* border: 2px solid black; */
  /* -webkit-animation: fond 2s; */
  animation-name: fond;
  animation-duration: 1s;
  animation-play-state: paused;
  animation-iteration-count: infinite;
/*   animation-direction: normal;
 */  animation-timing-function: linear;
}

@keyframes fond {
  from {
    transform: translate(-100%, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
